<aside>
    <h2>Digi-Banking</h2>
    <hr />
    <nav>
      <ul>
        <li>
          <a
            routerLink="/dashboard"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fas fa-tachometer-alt"></i> Dashboard</a
          >
        </li>
        <li>
          <a
            routerLink="/deposit"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fas fa-money-check"></i> Deposit</a
          >
        </li>
        <li>
          <a
            routerLink="/withdrawal"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fas fa-money-bill-wave"></i> Withdrawal</a
          >
        </li>
        <li>
          <a
            routerLink="/transfer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fas fa-exchange-alt"></i> Transfer</a
          >
        </li>
        <li>
          <a
            routerLink="/loan"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fas fa-hand-holding-usd"></i> Loan</a
          >
        </li>
        <li>
          <a
            routerLink="/profile"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ><i class="fas fa-user"></i> Profile</a
          >
        </li>
        <li>
          <button type="button" (click)="modalVisible = !modalVisible">
          <i class="fas fa-right-from-bracket"></i> Logout
        </button>
        </li>
      </ul>
    </nav>
  </aside>

  @if (modalVisible) {
    <app-modal [header]="'Are you really want to Log out?'">
        <form method="post" #logoutForm="ngForm" (ngSubmit)="onLogout()">
            <div class="button-group">
                <button type="submit">YES</button>
                <button type="button" (click)="modalVisible = !modalVisible">
                    NO
                </button>
            </div>
        </form>
    </app-modal>
}