header {
    background-color: var(--primary-purple);
    color: var(--primary-white);
    text-align: center;
    padding-block: 1rem;
    box-shadow: 5px 5px 5px var(--primary-shadow);
}

.form-container{
    padding: 1%;
    background-image: url("../../assets/istockphoto-1203763961-612x612.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.signup-form {
    background-color: var(--secondary-wheat);
    box-shadow: 10px 10px 10px var(--primary-shadow);
    border-radius: 1rem;
    width: clamp(300px, 50%, 500px);
    padding-bottom: 1rem;
    margin: 1rem auto;
}

.form-header {
    background-color: var(--primary-purple);
    color: var(--primary-white);
    padding-block: 0.5rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.form-body {
    padding: 2rem 1rem;
}

.form-body form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-body form input,
select,
textarea {
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: var(--secondary-white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    resize: none;
}

.form-body form input[type="submit"] {
    background-color: var(--primary-purple);
    color: var(--primary-white);
    cursor: pointer;
    text-transform: uppercase;
}

.form-body form input[type="submit"]:hover{
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0,0,0,.12), 0 15px 20px rgba(0,0,0,.06);
}

.form-footer {
    display: grid;
    place-items: center;
    margin-block: 0.5rem;
}

.form-footer p {
    color: black;
}

.form-footer a {
    color: var(--secondary-purple);
}

.gray {
    background-color: rgb(111, 110, 110) !important;
}

app-modal input {
    display: block;
    outline: none;
    width: 100%;
    font-size: medium;
    border: 1px solid var(--secondary-sky);
    border-radius: 0.5rem;
    padding: 0.5rem 0.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

app-modal .button-group {
    padding-block: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

app-modal .button-group button {
    border: none;
    background-color: var(--secondary-purple);
    box-shadow: 5px 5px 5px var(--primary-shadow);
    color: var(--primary-white);
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
    font-size: small;
}

app-modal .button-group button:hover{
    transform: scale(1.05);
  }