<header>
    <h1>Digital-Banking</h1>
    <sub>(Empowering  you with technology)</sub>
</header>

<section class="form-container">
    <section class="signup-form">
        <div class="form-header">
            <h2>Sign up</h2>
        </div>
        <div class="form-body">
            <form method="post" #signupform="ngForm" (submit)="onSubmit(signupform)">
                <input type="text" placeholder="Full name" name="accountHolderName" required ngModel />
                <input type="email" placeholder="Email" name="accountEmail" required ngModel />
                <input type="password" placeholder="Password" name="accountPassword" required ngModel />
                <input type="text" placeholder="Mobile number" name="contactNumber" required ngModel />
                <select name="accountType" ngModel="CURRENT">
                    <option value="CURRENT">CURRENT</option>
                    <option value="SAVINGS">SAVINGS</option>
                </select>
                <textarea name="aboutCustomer" placeholder="About customer" rows="2" required ngModel></textarea>
                <input type="submit" value="Sign up" [disabled]="!signupform.valid" [class.gray]="!signupform.valid" (click)="modalVisible = !modalVisible"/>
            </form>
        </div>
        <div class="form-footer">
            <p>Alredy have an account?</p>
            <a [routerLink]="'/signin'">Sign in</a>
        </div>
    </section>
</section>
@if (modalVisible) {
    <app-modal [header]="'Validate Your Email'">
        <form method="post" #otpInputForm="ngForm" (submit)="validateOtp(otpInputForm)">
            <input type="text" placeholder="Enter the OTP..." class="w-100"  name="otp" required ngModel/>
            <div class="button-group">
                <button type="submit">Validate</button>
            </div>
        </form>
    </app-modal>
}
@if(toastVisible) {
<app-toast [heading]="toastHeading" [description]="toastDescription"></app-toast>
}