/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik+Iso&display=swap");

:root {
  --primary-white: #fff;
  --secondary-white: #f4f4f4;
  --primary-purple: rgb(74, 22, 177);
  --secondary-purple: rgb(158, 13, 158);
  --primary-green: rgb(85, 107, 47);
  --secondary-green: rgb(109, 134, 65);
  --primary-aliceblue: rgb(240, 248, 255);
  --secondary-aliceblue: rgb(197, 207, 215);
  --primary-sky: #f3f8fe;
  --secondary-sky: #d0dff2;
  --primary-shadow: rgba(0, 0, 0, 0.3);
  --secondary-shadow: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  font-style: normal;
}

body {
  background-color: #cdc8c8;
}

.my-5 {
  margin-block: 5px;
}
